* {
	box-sizing: border-box;
}

$background-color1: #6B9080;
$background-color2: #EAF4F4;
$h2-padding: 80px;

html {
	font-family: 'Roboto', sans-serif;
	scroll-padding-top: 70px;
}

/*nav bar*/
nav {
	background-color: $background-color1;
	padding: 30px;
	position: fixed;
	width: 100%;
}

.nav-links a {
	text-decoration: none;
	margin-left: 20px;
	color: #F6FFF8;
}

/*nav mobile amends*/
@media screen and (max-width: 768px){
	nav {
		padding-left: 10px;
		padding-right: 10px
	}
	.nav-links {
		display: flex;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 14px;
	}
	.nav-links a {
		margin: 10px;
	}
	figure {
		margin-right: 5px;
	}
}

/*common section styling*/
.overall {
	width: 80%;
}

/*sections with flex box center*/
header, footer, main, .my-projects {
	display: flex;
	justify-content: center;
} 

/*header*/
header {
	background-color: #CCE3DE;
	padding: $h2-padding;
		img {
			width: 250px;
			margin-right: 20px;
			border-radius: 80px;
			padding: 10px;
		}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

.header p {
	margin-bottom: 25px;
}

.header .button {
	border: 2px solid $background-color1;
	border-radius: 12px;
	padding: 10px;
	background-color: $background-color2;
	cursor: pointer;
	text-decoration: none;
}

/*header mobile amends*/
@media screen and (max-width: 768px){
.header {
	flex-wrap: wrap-reverse;
	text-align: center;
	}
header img {
	padding: 25px 10px 10px 10px;
}
}

/*main about me*/
.about-me {
	background-color: #F6FFF8;
	justify-content: center;
}

.my-details {
	padding-bottom: 100px;
}

.my-details p {
	text-align: justify;
}

.my-details h2 {
	text-align: center;
	margin-top: 20px;
	padding-top: $h2-padding;
}

.cv {
	display: flex;
	justify-content: center;
}

.my-details .button {
	border: 2px solid $background-color1;
	border-radius: 12px;
	padding: 10px;
	background-color: $background-color2;
	cursor: pointer;
	text-decoration: none;
	//margin-top: 20px;
}

/*portfolio summary*/
.my-projects {
	background-color: $background-color2;
	padding-bottom: 100px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	justify-content: center;
	padding: 0;
}

.my-projects h2 {
	text-align: center;
	padding-top: $h2-padding;
}

.my-projects p {
	text-align: center;
}

article {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 400px;
	min-height: 400px;
	margin: 10px;
	background: #CCE3DE;
	box-shadow: 5px 10px $background-color1;
}

.project-image {
	margin: 0 auto;
	display: block;
	width: 380px;
	height: 200px;
	background-size: cover;
}

.portfolio p {
	text-align: left;
	margin-left: 10px;
	max-height: 100px;
	overflow: auto;
}

.logos {
	display: flex;
	flex-wrap: wrap;
		img {
			width: 40%;
		}
}

h3 {
	margin-left: 10px;
}

figure {
	width: 30%;
	text-align: center;
}

/*portfolio mobile amends*/
@media screen and (max-width: 768px){
	.logos {
		display: block;
	}
	figure {
		margin: auto;
		width: 40%;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

/*footer*/
footer {
	background-color: $background-color1;
	padding: 10px;
	h2 {
		text-align: center;
		padding-top: $h2-padding;
	}
}

.footer {
	text-align: center;
}

.contact img {
 	margin: 20px;
	width: 100px;
}

.copyright {
	text-align: right;
	font-size: 12px;
	margin-top: 70px;
}

