* {
	box-sizing: border-box;	
}

html {
	font-family: Georgia, serif;
}


/*nav bar*/
nav {
	background-color: #6B9080;
	padding: 30px;
}


.nav-links a {
	text-decoration: none;
	margin-left: 20px;
	color: #A4C3B2;	
}

/*nav mobile amends*/
@media screen and (max-width: 768px){
.links {
		display: flex;
		justify-content: center;
	}
}

/*common section styling*/
section {
	width: 80%;
	/*background-color: red;*/
}

/*sections with flex box center*/
header {
	display: flex;
	justify-content: center;
} 

/*header*/
header {
	background-color: #CCE3DE;
	padding: 20px;
	
}

.header {
	display: flex;
	justify-content: center;
}

img {
	max-width: 50%;
	max-height: 50%;
	margin-right: 20px;
}

/*header mobile amends*/
